.notification {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #28a745; /* Green success message */
    color: white;
    padding: 15px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    opacity: 1;
    z-index: 9999999;
    transition: visibility 0.5s ease-in-out;
  }
/*   
  .notification.hide {
    opacity: 0;
    pointer-events: none;
  } */
  